REDIS_URL=redis://redis:6379
API_URL=http://api:8000
API_PORT=8000
FRONTEND_PORT=3000

REDIS_CPUS=0.50
REDIS_MEM_LIMIT=256m
API_CPUS=0.50
API_MEM_LIMIT=256m
WORKER_CPUS=0.50
WORKER_MEM_LIMIT=256m
FRONTEND_CPUS=0.50
FRONTEND_MEM_LIMIT=256m
